$Tan :hsl(34, 44%, 69%);
$Chocolate : #D2691E;
$Black: #000000;
$White: #FFFFFF;
$PaleBrown: #CD853F;
$DarkBrown: #8B4513;
$Brown: #A0522D;
$Blue: #4682B4;
$Pink: #FF69B4;
$Beige: #F5F5DC;

$primary-content: #E78B05;
$secondary-content: #8F5BFE;